/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --background-image: url(../images/cover-image-dark.png);
  --page-background-color: #00032e;
  --accent-color: #ff0070;
  --border-color: #ff0070;
  --header-button-color: #ff0070;
  --main-content-title-color: #ff0070;
  --title-color: #db00ff;
  --title-decor-color: #000028;
  --main-font-size: 18px;
  --main-text-color: #f1b2ce;
  --main-line-height: 23.4px;
  --font-family: IBM Plex Mono, monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --display: grid;
  --display-flex: flex;
  --hover-border-color: #ff007066;
  --menu-color: #ff0070;
  --display-additional: flex;
  --display-flex: flex;
  --border-text-link: #f1b2ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
    --page-background-color: #00032e;
    --accent-color: #ff0070;
    --border-color: #ff0070;
    --main-content-title-color: #ff0070;
    --title-color: #db00ff;
    --title-decor-color: #000028;
    --main-font-size: 18px;
    --main-text-color: #f1b2ce;
    --main-line-height: 23.4px;
    --font-family: IBM Plex Mono, monospace;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --display: grid;
    --hover-border-color: #ff007066;
    --menu-color: #ff0070;
    --display-additional: flex;
    --display-flex: flex;
    --border-text-link: #f1b2ce;
  }
}